Algumas <b>Atalhos</b> que agilizam o processo. 

Dentre eles, os mais usados: 
<ul>
    <li>'Ctrl + Enter': Executa a célula selecionada.</li>
    <li>'Shift + Enter': Executa a célula selecionada e seleciona a próxima célula. Se for a - última célula do Notebook, uma nova célula é criada automaticamente.</li>
    <li>'a': Cria uma célula antes da célula selecionada (above).</li>
    <li>'b': Cria uma célula depois da célula selecionada (below).</li>
    <li>'d + d': Deleta a célula selecionada.</li>
    <li>'t':Transforma a célula em uma célula de código.</li>
    <li>'m': Transforma a célula em uma célula do tipo Markdown.</li>
</ul>

Exercícios iniciais da primeira aula

In [78]:
nome = 'Lucas'
sobrenome = 'Silva Basto'
print('Escola de Dados da Alura!')
print('Nome:', nome)
print('Sobrenome',sobrenome)

Escola de Dados da Alura!
Nome: Lucas
Sobrenome Silva Basto

In [35]:
print('Nome: Lucas')
print('Sobrenome: Silva Basto')

Nome: Lucas
Sobrenome: Silva Basto

In [37]:
print('L')
print('U')
print('C')
print('A')
print('S')

L
U
C
A
S

In [44]:
print(21,'de Abril',1999)

21 de Abril 1999

In [50]:
print('Ano atual:',2024)

Ano atual: 2024

In [66]:
# - Comentários de uma linha: Adicionando o símbolo de # 
#   no início de uma linha.

In [72]:
# Comentário de várias linhas:
''' Os Comentários de várias linhas são feitos usando um conjunto de 
aspas triplas ou ("""). Tudo que estiver entre essas aspas triplhas
será considerado um comentário. '''
print(10)

10

# Cabeçalho de nível 1
## Cabeçalho de nível 2
### Cabeçalho de nível 3

**Texto em negrito** - Construir um texto em **negrito** podemos usar ** antes e depois do texto.

*Texto em itálico* - Contruir um texto em *itálico* podemos usar * antes e depois do texto.

***Texto em negrito e itálico*** - Possível unir os dois modos de escrita agrupando as duas estruturas com *** (sim três).

**Listas** 
Para construir **listas não numeradas** (em *bullets*), colocamos * e depois um espaço (* )antes do item:

* Item 1
* Item 2
* Item 3

Para construir **listas numeradas**, podemos usar um número seguido de um ponto e uma espaço (1. )antes do item:

1. Item 1
2. Item 2
3. Item 3

**Links** 
Sintaxe: [Link for Github](https://github.com/luccabasto)

<hr>

### Operações aritméticos

<b>Exponenciação (**)</b>

Conseguimos elevar o número à uma potência definida através do operador **.
Para ter esse resultado, definimos um valor à esquerda do operador e a potência desejada do número à direita. 

Exemplo: Sabe que 2 elevado à 3 é igual 8. 
<code> 2**3 </code>

In [116]:
# Exponenciação
2**3

8

In [161]:
# O mesmo exemplo pode ser feito com variáveis.
operador = 2 
potencia = 3
operador ** potencia

8

**Módulo (%)** 

O operador de módulo pode retornar o resto da divisão inteira entre dois números. ***Lembrando que o resto de uma divisão é o número que sobra quando uma divisão não é exata.***

Para calcularmos o módulo de uma divisão, colocamos o dividendo à esquerda no operador % e o divisor à direita. Para encontrarmos o resto da divisão de 7 por 3, por exemplo, podemos executar os seguintes códigos:

In [159]:
7%3

1

In [157]:
# O mesmo por ser feito com variáveis

dividendo = 7
divisor = 3
dividendo % divisor

1

**Divisão inteira (//)** 

Essa operação retorna o resultado da divisão inteira entre dois números, ou seja, retorna apeanas a parte inteira de uma divisão. 
Por exemplo, sabe que a divisão exata de 7 por 3 (7/3) resulta no valor 2.333333... <br>
Caso essa fosse uma divisão inteira, o resultado dela seria apenas 2. Sua sintaxe consiste em colocar o valor do numerador, o operador <code>//</code> e depois o denominador, como consta a seguir:

In [151]:
7 // 3

2

In [155]:
# O mesmo exemplo pode ser feito com variáveis

numerador = 7
denominador = 3
numerador // denominador

2

<hr>

### Formatações do print()

Aprendi durante a aula a utilizar a formatação f-string na qual colocamos um f antes da criação da string e as variáveis entre chaves {}.

In [1]:
# Exempplo:
nome = 'Python'
idade = 21
print(f'O nome da minha conta masculina no Wuthering Waves é {nome} e a idade {idade}.')

O nome da minha conta masculina no Wuthering Waves é Python e a idade 21.

Existem outras formatações, como o uso do operador de formatação de string ou função .format().

* Operador de formatação
  Esse operador de formatação permite a inserção de variáveis em pontos específicos na string com o operador %. Esse operador funciona como um marcador, informando onde o valor da variável vai ser exposto na string.

O % precisa ser acompanhado de uma palavra-chave para cada tipo de variável que se deseja adicionar. Seguindo a tabela abaixo:

| Tipo de variável  | Palavra-chave   |
|-------------------|-----------------|
| Float             | <code>%f</code> |
| Inteiro           | <code>%d</code> |
| String            | <code>%s</code> |
| Caractere         | <code>%c</code> |

Desse modo, para inserirmos uma variável, podemos adicionar o operador pela string no ponto desejado.

In [5]:
nome_aluno = 'Lucas Basto'
print('Nome do aluno: %s' %(nome_aluno))

Nome do aluno: Lucas Basto

 Caso tenha mais de uma variável, devemos ordená-las conforme seu surgimento no texto e separá-las por vírgula.

In [8]:
nome_aluno = 'Lucas Basto'
idade_aluno = 24
media_aluno = 9.7
print('Nome do aluno é %s, ele tem %i anos, \ne sua média na avaliação foi %f'%(nome_aluno,idade_aluno,media_aluno))

Nome do aluno é Lucas Basto, ele tem 24 anos,
e sua média na avaliação foi 9.700000

Quando trabalha com pontos flutuantes, podemos determinar a quantidade de casas decimais após a vírgula usando a 
sintaxe <code>%.xf</code> na qual <code>x</code> é o número de casas desejadas.

In [10]:
print('Nome do aluno é %s, ele tem %i anos, \ne sua média na avaliação foi %.2f'%(nome_aluno,idade_aluno,media_aluno))

Nome do aluno é Lucas Basto, ele tem 24 anos,
e sua média na avaliação foi 9.70

* Operadores de formatação de strings com % não funciona diretamente com valores booleanos.
Uma maneira de lidar com isso é **convertendo o valor booleano para uma string antes de usá-lo na formação com a função** <code>str()</code>

In [11]:
x= True
print('Valor de x: %s' %str(x))

Valor de x: True

* <code>format</code><br>
    É possível também usar o método <code>format()</code> para fazer a formatação de strings. Ele é mais flexçivel e permite passar as variáveis diretamente dentro da string, sem a necessiadade dos operadores <code>%</code>. Seues marcadores são apenas as <code>{ }</code>.

In [13]:
nome_aluno = 'Lucas Basto'
print('Nome do aluno: {}'.format(nome_aluno))

Nome do aluno: Lucas Basto

In [20]:
print('Do mesmo modo que é feito com o operador, \nconseguimos aplicar com mais variáveis:')

nome_aluno = 'Lucas Basto'
idade_aluno = 24
media_aluno = 9.77

print('\nNome do aluno é {}, ele tem {} anos e sua média é {}.' .format(nome_aluno,idade_aluno,media_aluno))

Do mesmo modo que é feito com o operador,
conseguimos aplicar com mais variáveis:

Nome do aluno é Lucas Basto, ele tem 24 anos e sua média é 9.77.

<hr>

### Carateres especiais

| Caracter | O que faz?   |
|-------------------|-----------------|
| <code>\n</code>   | Nova linha e é usado para pular uma linha no texto. |
| <code>\t</code>   | Tabulação usado para adicionar um espaço de tabulação no texto.|
| <code>\\\ </code>   | Usado para imprimir uma única barra invertida. Caso não seja usada a dupla berra invertida, o código poderá resultar em erro. |
| <code>\ "</code>   | Usado para imprimir aspas duplas quando estamos <br>trabalhando com uma string criada a partir de aspas duplas <code>"</code>. |
| <code>\ '</code>   | Usado para imprimir aspas simples quando estamos <br>trabalhando com uma string criada a partir de aspas simples <code>'</code>. |

In [23]:
print("Estudar é um esforço constante,\nÉ como cultivar uma planta,\nPrecisamos de dedicação e paciência,\nPara ver o fruto amadurecer.")

Estudar é um esforço constante,
É como cultivar uma planta,
Precisamos de dedicação e paciência,
Para ver o fruto amadurecer.

In [21]:
print('Quantidade\tQualidade\n5 amostras\tAlta\n3 amostras\tBaixa')

Quantidade	Qualidade
5 amostras	Alta
3 amostras	Baixa

In [22]:
print("Caminho do arquivo: C:\\arquivos\\documento.csv")

Caminho do arquivo: C:\arquivos\documento.csv

In [24]:
print('Minha professora uma vez disse \'Estudar é a chave do sucesso.\' ')

Minha professora uma vez disse 'Estudar é a chave do sucesso.'

In [25]:
print("Ouvi uma vez \"Os frutos do conhecimento são os mais doces e duradouros de todos.\"")

Ouvi uma vez "Os frutos do conhecimento são os mais doces e duradouros de todos."

<hr>

### input 

A função <code>input</code> é usada para ler entradas de alguma pessoa usuária no formato de string e retorna esse valor lido.

In [28]:
nome = input('Qual é o seu nome? ')
nome

Qual é o seu nome?  Lucca

'Lucca'